{% extends 'common_css_js_links.html' %}
{% block sidebar %}

<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
        <a href="index.html" class="app-brand-link">
            <span class="app-brand-logo demo">
                <img src="/static/landing_page/images/logo2.png" alt="">
            </span>
            <span class="app-brand-text demo menu-text fw-bolder ms-2" style="text-transform: none;">O.C.R.S</span>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
            <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
        <!-- Dashboard -->
        <li class="menu-item">
            <a href="{% url 'user' %}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">Home</div>
            </a>
        </li>
        <!-- Cards -->
        <li class="menu-item">
            <a href="cards-basic.html" class="menu-link">
                <i class="menu-icon tf-icons bx bx-collection"></i>
                <div data-i18n="Basic">Manage Profile</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="{% url 'create_complaint' %}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-collection"></i>
                <div data-i18n="Basic">Create Complaint</div>
            </a>
        </li>
        <!-- Cards -->
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link">
                <i class="menu-icon tf-icons bx bx-box"></i>
                <div data-i18n="Layouts">View Complaint Status</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-layout"></i>
                <div data-i18n="Layouts">View Reports</div>
            </a>

            <ul class="menu-sub">
                <li class="menu-item">
                    <a href="layouts-without-menu.html" class="menu-link">
                        <div data-i18n="Without menu">View FIR</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="layouts-without-navbar.html" class="menu-link">
                        <div data-i18n="Without navbar">View CSR</div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link">
                <i class="menu-icon tf-icons bx bx-box"></i>
                <div data-i18n="Layouts">Announcements</div>
            </a>
        </li>
        </li>
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link">
                <i class="menu-icon tf-icons bx bx-box"></i>
                <div data-i18n="Layouts">Feedbacks</div>
            </a>

    </ul>
</aside>

<script>

    let Home = document.querySelectorAll('.menu-item')[0];
    let Manage_Profile = document.querySelectorAll('.menu-item')[1];
    let Create_Complaint = document.querySelectorAll('.menu-item')[2];

    var currentUrl = window.location.href;
    if (window.location.href === 'http://127.0.0.1:8000/create_complaint/') {
        Create_Complaint.classList.add('active');
        Home.classList.remove('active');
        Manage_Profile.classList.remove('active');
    } 
    else if (window.location.href === 'http://127.0.0.1:8000/user/')
    {
        Create_Complaint.classList.remove('active');
        Home.classList.add('active');
        Manage_Profile.classList.remove('active');
    }
    
    

</script>


{% endblock %}